.cell:last-child{
    border-color: rgba(0, 0, 0, 0);
}

.row:last-child{
    border-color: rgba(0, 0, 0, 1)  rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-top: 1px solid;
}

.row:last-child .cell{
    border-color: rgba(0, 0, 0, 0);
}